extends layout

block content
    section.home_banner_area
      .banner_inner
        .container
          .row
            .col-lg-7
              .banner_content
                h3.text-uppercase Hell0
                h1.text-uppercase I am Amir Maralani
                h5.text-uppercase Java developer
                .d-flex.align-items-center
                  a.primary_btn(href='#')
                    span Hire Me
                  a.primary_btn.tr-bg(href='https://drive.google.com/file/d/12S_Amj3pRnN7yM3a-bm7ttKqXHsRyxIL/view?usp=sharing')
                    span Get CV
            .col-lg-5
              .home_right_img
                img(src='img/banner/home-right.png' alt='')
