extends layout

block content
    // ================Start Portfolio Area =================
    section#portfolio.portfolio_area.section_gap_top
      .container
        .row
          .col-lg-12
            .main_title.text-left
              h2
                | quality work 
                br
                |                             Recently done project
        .filters.portfolio-filter
          ul
            li.active(data-filter="*") all
            li(data-filter=".fun") Fun
            li(data-filter=".experiment") Experiment
            li(data-filter=".in-progress") In-progress
        .filters-content
          .row.portfolio-grid.justify-content-center
            .col-lg-4.col-md-6.all.fun.experiment
              .portfolio_box
                .single_portfolio
                  img.img-fluid.w-100(src="img/portfolio/Sieve_of_Eratosthenes.svg" alt="")
                  .overlay
                  a(href="https://github.com/amaralani/sieve-of-eratosthenes")
                    .icon
                      span.lnr.lnr-select
                .short_info
                  h4
                    a(href="https://github.com/amaralani/sieve-of-eratosthenes") Sieve Of Eratosthenes
                  p An implementation of the famous Seieve of Erathosthenes in the beloved Mr. Hashemi programming language.
            .col-lg-4.col-md-6.all.experiment
              .portfolio_box
                .single_portfolio
                  img.img-fluid.w-100(src="img/portfolio/kinto-logo.svg" alt="")
                  .overlay
                  a(href="https://github.com/amaralani/kinto-admin-element")
                    .icon
                      span.lnr.lnr-select
                .short_info
                  h4
                    a(href="https://github.com/amaralani/kinto-admin-element") Kinto Admin
                  p Kinto admin panel implemented by VueJS.
            .col-lg-4.col-md-6.all
              .portfolio_box
                .single_portfolio
                  img.img-fluid.w-100(src="img/portfolio/airplane.svg" alt="")
                  .overlay
                  a.img-gal(href="https://github.com/amaralani/flight-tracker")
                    .icon
                      span.lnr.lnr-select
                .short_info
                  h4
                    a(href="https://github.com/amaralani/flight-tracker") Flight Tracker
                  p An Spring Boot application to view weather forecast and flight data on a map.
            .col-lg-4.col-md-6.all.latest
              .portfolio_box
                .single_portfolio
                  img.img-fluid.w-100(src="img/portfolio/hamim_logo.png" alt="")
                  .overlay
                  a.img-gal(href="https://github.com/amaralani/pixy")
                    .icon
                      span.lnr.lnr-select
                .short_info
                  h4
                    a(href="https://github.com/amaralani/pixy") Pixy
                  p Pixy is a wire protocol analyzer.
    // ================End Portfolio Area =================